* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-green: #495e57;
  --primary-yellow: #f4ce14;
  --secondary-salmon: #ee9972;
  --secondary-light-salmon: #fbdabb;
  --secondary-grey: #edefee;
  --secondary-dark: #333333;
}

/* <weight>: Use a value from 400 to 700 */
/* <uniquifier>: Use a unique and descriptive class name */

.markazi-text-<uniquifier > {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* <weight>: Use a value from 200 to 800 */
/* <uniquifier>: Use a unique and descriptive class name */

.karla-<uniquifier > {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}

/* Typefaces */

.display-title {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 64px;
}

.sub-title {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
}

.lead-text {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

.section-title {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 20px;
  text-transform: uppercase;
}

.section-categories {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
}

.card-title {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
}

.highlight-text {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
}

/* grid */
.grid {
  max-width: calc(1400px - 70px);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

/* header */
.header {
  align-items: center;
  padding: 30px 0;
}

.header__logo {
  grid-column: 3 / span 2;
  width: 100%;
  height: auto;
}

.header__nav-container {
  grid-column: 5 / -1;
}

/* main */
.main-nav {
  /* outline: 1px solid red; */
}

.main-nav ul {
  list-style: none;
}

.main-nav li {
  display: inline-block;
}

.main-nav a {
  color: var(--secondary-dark);
  text-decoration: none;
  line-height: 48px;
  display: block;
  padding: 0 15px;
  /* font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 18px; */
}

.main-nav a:hover {
  color: var(--primary-green);
  text-decoration: underline;
}

/* footer */
.footer__logo {
  grid-column: 3 / span 2;
}

.footer__doormat {
  grid-column: 5 / span 2;
}

.footer__contact {
  grid-column: 7 / span 2;
}

.footer__social {
  grid-column: 9 / span 2;
}

.footer__section-title {
  color: var(--primary-green);
}

.footer ul {
  list-style: none;
}

.footer a {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  color: var(--primary-green);
}

.footer a:hover {
  color: var(--secondary-dark);
  text-decoration: underline;
}
